@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

/*:root {
    --bg-color: #1e1e1e;
    --text-color: #ededed;
    --text-secondary: #afafaf;
    --accent-color: #b26cfb;
    --code-block-color: #343434;
    --link-color: #80c4e9;
    --font-family: sans-serif;
}*/

:root {
    /* Sailor Moon inspired dark theme */
    --bg-color: #181422; /* deep moonlit purple */
    --text-color: #f8f4ff; /* soft moonlight white */
    --text-secondary: #c8b9e6; /* lavender gray */
    --accent-color: #ff7eb6; /* magical pink */
    --code-block-color: #2a2238; /* dark violet */
    --link-color: #7dcfff; /* crystal blue */
    --visited-link-color: #d8a8ff;
    --text-font: "Open Sans", sans-serif;
    --header-font: "Roboto Slab", serif;
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--accent-color) var(--bg-color);
    scrollbar-width: auto;
}

body {
    /*font-family: "Open Sans", sans-serif;*/
    font-family: var(--text-font);
    font-display: swap;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 112.5%;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

main {
    max-width: 720px;
    margin: 0 auto;
    background: var(--bg-color);
    padding: 0 1rem;
}

h1 {
    font-size: 2.25rem;
    margin: 1rem 0;
}

h1,
h2,
h3 {
    line-height: 1.5;
    font-family: var(--header-font);
}

h2,
h3 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

hr {
    margin: 2rem 1rem;
    color: var(--code-block-color);
}

footer {
    text-align: center;
    padding: 0.5em 1rem;
    background: var(--bg-color);
    color: var(--text-secondary);
    font-size: 0.85rem;
    max-width: 720px;
    margin: 0 auto;
}

em {
    font-size: 0.85rem;
    color: var(--text-secondary);
}

/*Navbar*/
nav {
    background: var(--bg-color);
    padding: 0.5em 0;
    text-align: center;
    /*font-family: monospace;*/
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a:visited {
    color: var(--text-color);
}

nav ul li a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}
