@import url("common.css");
@import url("post.css");

.btn {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.5rem 0;
    background-color: var(--accent-color);
    color: var(--bg-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.05rem;
}

.post-date {
    margin: 0;
}

.post-title {
    margin: 0.5rem 0;
}

#recent-posts > a {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    margin-bottom: 0.75rem;
}

#recent-posts > a:hover {
    background-color: var(--alt-dark-color);
}

#recent-posts > a > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    /*gap: 1rem;*/
    line-height: 1.3;
}

#recent-posts figure {
    padding: 0.5em;
}

#recent-posts figure, #recent-posts figure img {
    margin: 0;
}

#recent-posts h3 {
    margin: 0;
    margin-bottom: 1em;
}

.blog-posts > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.blog-posts a {
    font-weight: 600;
}

time {
    font-family: monospace;
    font-size: 1rem;
}

.details {
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description {
    font-size: 0.9rem;
}

section:nth-child(2) {
    margin-top: 2rem;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    .about, .connect {
        flex-wrap: wrap;
    }
}

.about p {
    margin-bottom: 1.5rem;
}

.about ul {
    margin: 0;
    padding-left: 2em;
    margin-bottom: 1.5rem;
}

.about img {
    width: 210px;
    border-radius: 50%;
}

.profile {
    display: grid;
    align-items: center;
}

.connect a {
    text-decoration: none;
}

.connect {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
