---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "/tag/{{ tag }}/"
eleventyExcludeFromCollections: true
layout: tag.njk
title: Tagged Posts
---

{% if tagDescriptions[tag] %}
<section>
    <h1>{{ tagDescriptions[tag].name }}</h1>
    <img src="{{ tagDescriptions[tag].gif }}" alt="a(n) {{ tag }} gif" class="tag-gif" />
    <p>{{ tagDescriptions[tag].long }}</p>
    <p>
        <strong>Tag:</strong> #{{ tag }} - {{ tagDescriptions[tag].short }}
    </p>
</section>
{% endif %}
<section>
    <h2>Posts</h2>
    <div class="blog-posts">
        {% for post in collections[tag] | reverse %}
        <div>
            <time>{{ post.data.date | dateStamp }}</time>
            <a href="{{ post.url }}" title="{{ post.data.description }}">{{ post.data.title }}</a>
        </div>
        {% endfor %}
    </div>
</section>
