@import url("common.css");
@import url("post.css");

.btn {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.5rem 0;
    background-color: var(--accent-color);
    color: var(--bg-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.05rem;
}

.gif-block {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.gif-block img {
    max-width: 200px;
    height: auto;
    display: block;
}

@media screen and (max-width: 700px) {
    .gif-block {
        flex-wrap: wrap;
    }
}

/*.gif-block img {
    float: left;
    width: 200px;
    margin: 0 1.5rem 0.25rem 0;
}*/

.tags ul {
    list-style-type: disc;
    padding-left: 2em;
    margin: 0 0 1.5rem 0;
}

.tags ul li {
    margin-bottom: 0.5rem;
}

.tags a {
    font-weight: 600;
}

.post-date {
    margin: 0;
}

.post-title {
    margin: 0.5rem 0;
}

.blog-posts > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
    .blog-posts > div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.25rem;
    }
}

.blog-posts a {
    font-weight: 600;
}

time {
    font-family: monospace;
    font-size: 1rem;
}

.details {
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description {
    font-size: 0.9rem;
}

/*section:nth-child(2) {
    margin-top: 2rem;
}*/

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    .about,
    .connect {
        flex-wrap: wrap;
    }
}

.about p {
    margin-bottom: 1.5rem;
}

.about ul {
    margin: 0;
    padding-left: 2em;
    margin-bottom: 1.5rem;
}

.about img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.profile {
    display: grid;
    align-items: center;
}

.connect a {
    text-decoration: none;
}

.connect {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
