---
title: About
---

<!doctype html>
<html lang="en">
    <head>
        {% include "partials/head.html" %}
    </head>

    <body>
        {% include "partials/nav.html" %}

        <main class="about-page">
            <h1>About Me</h1>
            <div class="about">
                <div class="profile">
                    <img src="/assets/profile.jpeg" alt="profile picture" />
                </div>
                <div>
                    <p>
                        I'm just a guy with an interest in programming and data
                        analytics. I try to learn new things on a daily basis.
                    </p>
                    <p>In my free time I like to:</p>
                    <ul>
                        <li>Hack my linux systems</li>
                        <li>Play retro video games</li>
                        <li>Watch anime and read novels</li>
                        <li>Learn new stuff</li>
                    </ul>
                </div>
            </div>
            <p>
                Currently building something cool and completing my degree in
                data science.
            </p>
            <p>
                You are free to explore my projects and view my resume to
                understand more about my competencies and previous work
                experiences.
            </p>
            <div class="connect">
                <div>
                    <a href="mailto:vikram.s.negi@proton.me" target="_blank"
                        ><i class="fa-solid fa-envelope"></i> Email</a
                    >
                </div>
                <div>
                    <a href="https://github.com/lostvikx/" target="_blank"
                        ><i class="fa-brands fa-github-alt"></i>
                        &commat;lostvikx</a
                    >
                </div>
                <div>
                    <a href="https://x.com/lostvikx" target="_blank"
                        ><i class="fa-brands fa-twitter"></i>
                        &commat;lostvikx</a
                    >
                </div>
                <div>
                    <a href="/assets/resume.pdf" target="_blank"
                        ><i class="fa-solid fa-file"></i> Resume</a
                    >
                </div>
            </div>
        </main>

        {% include "partials/footer.html" %}
    </body>
</html>
