---
title: Home
---

<!doctype html>

<html lang="en">
    <head>
        {% include "partials/head.html" %}
    </head>

    <body>
        {% include "partials/nav.html" %}

        <main>
            <section>
                <h1>Welcome to Vikram&apos;s Blog</h1>
                <p>
                    Greetings fellow internet user, on this website you might
                    find articles on various subjects like Linux, AI, and other
                    topics that piqued my curiosity. You are free to explore
                    this website and get in touch with me using my email.
                </p>
                <div class="gif-block">
                    <img
                        src="/assets/gifs/driving_dark.gif"
                        alt="driving in night"
                    />
                    <p>
                        The mission of this blog is to inspire readers to
                        explore new interesting subjects. But mainly, it is for
                        me to go on this journey of discovering fascinating
                        topics and writing about them, which helps me learn more
                        deeply and appriciate the foundational knowledge it
                        brings.
                    </p>
                </div>
                <p>
                    Through each blog post, my hope is to document ideas, share
                    useful guides, and capture small curiosities from the
                    internet and my everyday life.
                </p>
            </section>
            <section>
                <h2>Blog Posts</h2>
                <p>Posts ordered in recency order of creation.</p>
                <div class="blog-posts">
                    {% for post in collections.posts reversed %}
                    <div>
                        <time>{{ post.data.date | dateStamp }}</time>
                        <a
                            href="{{ post.url }}"
                            title="{{ post.data.description }}"
                            >{{ post.data.title }}</a
                        >
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section>
                <h2>Explore Topics</h2>
                <p>
                    The following are some topics that have piqued my interest
                    enough for me to write blog posts about them.
                </p>
                <div class="tags">
                    <ul>
                        {% for tag in collections.tagList %}
                        <li>
                            <a href="/tag/{{ tag | slugify }}/">#{{ tag }}</a> -
                            {{ tagDescriptions[tag] }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>

        {% include "partials/footer.html" %}
    </body>
</html>
