---
title: Home
---

<!doctype html>

<html lang="en">
    <head>
        {% include "partials/head.html" %}
    </head>

    <body>
        {% include "partials/nav.html" %}

        <main>
            <section>
                <h1>Welcome to Vikram&apos;s Blog</h1>
                <p>
                    Greetings fellow internet user, on this website you might
                    find articles on various subjects like Linux, AI, and other
                    topics that peak my curiosity. You are free to explore this
                    site and get in touch with me using my email.
                </p>
            </section>
            <section>
                <h2>Blog Posts</h2>
                <div class="blog-posts">
                    {% for post in collections.posts reversed %}
                    <div title="{{ post.data.description }}">
                        <time>{{ post.data.date | dateStamp }}</time>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section>
                <h2>Topics</h2>
                <!--<p>
                    The following are some topics that have piqued my interest
                    enough for me to write blog posts about them.
                </p>-->
                <div class="tags">
                    <ul>
                        {% for tag in collections.tagList %}
                        <li>
                            <a href="/tag/{{ tag | slugify }}/">#{{ tag }}</a> -
                            {{ tagDescriptions[tag] }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>

        {% include "partials/footer.html" %}
    </body>
</html>
